
<%= semantic_form_for @space, :html => {:class => "ui form"} do |f| %>

<h4 class="ui dividing header"> Availability </h4>
 <div class= "weekdays">

   <%= f.input :avail_m, :as => :boolean, :label => "Monday" %>
   <%= f.input :avail_t, :label => "Tuesday" %>
   <%= f.input :avail_w, :label => "Wednesday" %>
   <%= f.input :avail_th, :label => "Thursday" %>
   <%= f.input :avail_f, :label => "Friday" %>
   <%= f.input :avail_sa, :label => "Saturday" %>
   <%= f.input :avail_su, :label => "Sunday" %>
 </div>

    <%= f.input :size, :html => {:class=>"ui radio checkbox"}, :as => :radio, :collection => ["Coupe", "Sedan", "Suv", "Pick-up / Van"] %>

    <%= f.actions   do %>
    <%= f.action :submit, :as => :button %>
    <%= f.action :cancel, :as => :link %>
  <%end %>

<% end %>
