
<%= semantic_form_for @space, :html => {:class => "ui form"} do |f| %>

<h4 class="ui dividing header"> Availability </h4>
 <div class= "weekdays">

   <%= f.input :avail_m, :as => :boolean, :label => "Monday" %>
   <%= f.input :avail_t, :as => :boolean, :label => "Tuesday" %>
   <%= f.input :avail_w, :as => :boolean, :label => "Wednesday" %>
   <%= f.input :avail_th, :as => :boolean, :label => "Thursday" %>
   <%= f.input :avail_f, :as => :boolean, :label => "Friday" %>
   <%= f.input :avail_sa, :as => :boolean, :label => "Saturday" %>
   <%= f.input :avail_su, :as => :boolean, :label => "Sunday" %>
 </div>

    <%= f.input :size, :html => {:class=>"ui radio checkbox"}, :as => :radio, :collection => ["Coupe", "Sedan", "Suv", "Pick-up / Van"] %>
   
    <%= f.input :hourly_rate, :as => :number %>
   

    <%= f.actions   do %>
    <%= f.action :submit, :as => :button %>
    <%= f.action :cancel, :as => :link %>
  <%end %>

<% end %>