<%= semantic_form_for @space, :html => {:class => "allformtwo ui form"} do |f| %>
		<h4> Availability </h4>
		<div class="everydaytoggilin">
			<div class="ui toggle checkbox <%= @space.avail_m ? 'checked' : '' %>">
				<%= f.label :Monday %>
				<input type="checkbox" name="space[avail_m]" id="space_avail_m" value="<%= @space.avail_m ? '1' : '0' %>" <%= @space.avail_m ? 'checked=""' : "" %>>
			</div>
				<br/>
			<div class="ui toggle checkbox <%= @space.avail_m ? 'checked' : '' %>">
				<%= f.label :Tuesday %>
				<input type="checkbox" name="space[avail_t]" id="space_avail_t" value="<%= @space.avail_t ? '1' : '0' %>" <%= @space.avail_t ? 'checked=""' : "" %>>
			</div>
				<br/>
			<div class="ui toggle checkbox <%= @space.avail_m ? 'checked' : '' %>">
				<%= f.label :Wednesday %>
					<input type="checkbox" name="space[avail_w]" id="space_avail_w" value="<%= @space.avail_w ? '1' : '0' %>" <%= @space.avail_w ? 'checked=""' : "" %>>
			</div>
				<br/>
			<div class="ui toggle checkbox <%= @space.avail_m ? 'checked' : '' %>">
				<%= f.label :Thursday %>
					<input type="checkbox" name="space[avail_th]" id="space_avail_th" value="<%= @space.avail_th ? '1' : '0' %>" <%= @space.avail_th ? 'checked=""' : "" %>>
			</div>
				<br/>
			<div class="ui toggle checkbox <%= @space.avail_m ? 'checked' : '' %>">
				<%= f.label :Friday %>
					<input type="checkbox" name="space[avail_f]" id="space_avail_f" value="<%= @space.avail_f ? '1' : '0' %>" <%= @space.avail_f ? 'checked=""' : "" %>>
			</div>
				<br/>
			<div class="ui toggle checkbox <%= @space.avail_m ? 'checked' : '' %>">
				<%= f.label :Saturday %>
					<input type="checkbox" name="space[avail_sa]" id="space_avail_sa" value="<%= @space.avail_sa ? '1' : '0' %>" <%= @space.avail_sa ? 'checked=""' : "" %>>
			</div>
				<br/>
			<div class="ui toggle checkbox <%= @space.avail_m ? 'checked' : '' %>">
				<%= f.label :Sunday %>
					<input type="checkbox" name="space[avail_su]" id="space_avail_su" value="<%= @space.avail_su ? '1' : '0' %>" <%= @space.avail_su ? 'checked=""' : "" %>>
			</div>
	</div>
	<div class="boom">
		<div class="field">
			<%= f.input :size, :html => {:class=>"ui radio checkbox"}, :as => :radio, :collection => ["Coupe", "Sedan", "Suv", "Truck / Van"] %>
		</div>
		<div class="field">
			<%= f.label :hourly_rate %>
			<%= f.text_field :hourly_rate, :as => :number %>
		</div>
		<div class="field">
			<%= f.label :description %>
			<%= f.text_field :description %>
		</div>
	</div>	

	<%= f.actions do %>
		<%= f.action :submit, :as => :button, :button_html => {class: 'ui submit button'}, :style => "width: 7em;" %>
		<%= f.action :reset, :as => :button, :button_html => {class: 'ui cancel button'}, :style => "width: 7em; " %>
		<li class="action button_action"><button class="ui cancel button" href="<%= root_path %>">Cancel</button></li>
	<% end %>


<% end %>
