<p id="notice"><%= notice %></p>

<h1>Spaces</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Size</th>
      <th>Avail m</th>
      <th>Avail t</th>
      <th>Avail w</th>
      <th>Avail th</th>
      <th>Avail f</th>
      <th>Avail sa</th>
      <th>Avail su</th>
      <th>Hourly rate</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spaces.each do |space| %>
      <tr>
        <td><%= space.user %></td>
        <td><%= space.address %></td>
        <td><%= space.city %></td>
        <td><%= space.state %></td>
        <td><%= space.zip %></td>
        <td><%= space.size %></td>
        <td><%= space.avail_m %></td>
        <td><%= space.avail_t %></td>
        <td><%= space.avail_w %></td>
        <td><%= space.avail_th %></td>
        <td><%= space.avail_f %></td>
        <td><%= space.avail_sa %></td>
        <td><%= space.avail_su %></td>
        <td><%= space.hourly_rate %></td>
        <td><%= space.description %></td>
        <td><%= link_to 'Show', space %></td>
        <td><%= link_to 'Edit', edit_space_path(space) %></td>
        <td><%= link_to 'Destroy', space, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Space', new_space_path %>
