<div class="yourspaceinfoshit">

	<p id="notice"><%= notice %></p>

	<h1> Your Space Info </h1>

	<p>
		# <strong>Cover image:</strong>
		<#%= image_tag @space.parking_spot_image, height: 250 %>
	</p>

	<p>
	<%= hidden_field :User, @space.user %>
	</p>

	<h2>Address</h2>
	
	<p>
		<%#= @space.address %>
	</p>

	<p>
		<%#= @space.city %>
	</p>

	<p>
		<%#= @space.state %>
	</p>

	<p>
		<%#= @space.zip %>
	</p>

	<table>
		<thead>
			<tr>
				<h2> Available </h2>
			</tr>
		</thead>
		<tbody>

			<td><% if @space.avail_m %>
						Monday
					<% else %> 
						<% style="display: none;" %>
					<% end %>
			</td>
			<td><% if @space.avail_t %>
						Tuesday
					<% else %> 
						<% style="display: none;" %>
					<% end %>
			</td>
			<td><% if @space.avail_w %>
						Wednesday
						<% else %> 
							<% style="display: none;" %>
					<% end %>
			</td>
			<td><% if @space.avail_th %>
						Thursday
					<% else %> 
						<% style="display: none;" %>
					<% end %>
			</td>
			<td><% if @space.avail_f %>
						Friday
					<% else %> 
						<% style="display: none;" %>
					<% end %>
			</td>
			<td><% if @space.avail_sa %>
						Saturday
					<% else %> 
						<% style="display: none;" %>
					<% end %>
					</td>
			<td><% if @space.avail_su %>
						Sunday
					<% else %> 
						<% style="display: none;" %>
					<% end %>
			</td>
		</tbody>
	</table>

	<p>
	<h2>Hourly Rate</h2> <%= number_to_currency(cents_to_dollars(@space.hourly_rate)) %>
	</p>

	<p>
	<h2>Size</h2>
	<%= @space.size %>
	</p>

	<p>
		<h2>Description</h2>
		<%= @space.description %>
	</p>

	<%= link_to 'Edit', edit_space_path(@space) %> 
	<%= link_to 'Back', spaces_path %>
</div>
