<p id="notice"><%= notice %></p>

<p>
  # <strong>Cover image:</strong>
  <#%= image_tag @space.parking_spot_image, height: 250 %>
</p>

<p>
  <strong>User:</strong>
  <%= @space.user %>
</p>

<p>
  <strong>Address:</strong>
  <%= @space.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @space.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @space.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @space.zip %>
</p>



<p>
  <strong>Size:</strong>
  <%= @space.size %>
</p>

<p>
  <strong>Avail m:</strong>
  <%= @space.avail_m %>
</p>

<p>
  <strong>Avail t:</strong>
  <%= @space.avail_t %>
</p>

<p>
  <strong>Avail w:</strong>
  <%= @space.avail_w %>
</p>

<p>
  <strong>Avail th:</strong>
  <%= @space.avail_th %>
</p>

<p>
  <strong>Avail f:</strong>
  <%= @space.avail_f %>
</p>

<p>
  <strong>Avail sa:</strong>
  <%= @space.avail_sa %>
</p>

<p>
  <strong>Avail su:</strong>
  <%= @space.avail_su %>
</p>

<p>
  <strong>Hourly rate:</strong>
  <%= cents_to_dollars @space.hourly_rate %>
</p>

<p>
  <strong>Description:</strong>
  <%= @space.description %>
</p>

<%= link_to 'Edit', edit_space_path(@space) %> |
<%= link_to 'Back', spaces_path %>
