<div class="yourspaceinfoshit">

	<p id="notice"><%= notice %></p>

	<h1> Your Space Info </h1>

	<p>
    <% if @space.parking_spot_image.attached?  %>
      <%= image_tag @space.parking_spot_image, height: 250 %>
    <% else %>
      <%= image_tag 'missing.png', height: 250 %>
    <% end %>
	</p>

	<%= hidden_field :User, @space.user %>

	<h2>Address</h2>
	
	<p>
		<%= @space.make_address %>
	</p>

	<table>
		<thead>
			<tr>
				<h2> Available </h2>
			</tr>
		</thead>
		<tbody>

			<td><% if @space.avail_m %>
						Monday
					<% else %> 
						<% style="display: none;" %>
					<% end %>
			</td>
			<td><% if @space.avail_t %>
						Tuesday
					<% else %> 
						<% style="display: none;" %>
					<% end %>
			</td>
			<td><% if @space.avail_w %>
						Wednesday
						<% else %> 
							<% style="display: none;" %>
					<% end %>
			</td>
			<td><% if @space.avail_th %>
						Thursday
					<% else %> 
						<% style="display: none;" %>
					<% end %>
			</td>
			<td><% if @space.avail_f %>
						Friday
					<% else %> 
						<% style="display: none;" %>
					<% end %>
			</td>
			<td><% if @space.avail_sa %>
						Saturday
					<% else %> 
						<% style="display: none;" %>
					<% end %>
					</td>
			<td><% if @space.avail_su %>
						Sunday
					<% else %> 
						<% style="display: none;" %>
					<% end %>
			</td>
		</tbody>
	</table>

	<p>
	<h2>Hourly Rate</h2> <%= format_currency @space.hourly_rate %>
	</p>

	<p>
	<h2>Size</h2>
	<%= @space.size %>
	</p>

	<p>
		<h2>Description</h2>
		<%= @space.description %>
	</p>

	<%= link_to 'Edit', edit_space_path(@space) %> 
	<%= link_to 'Back', spaces_path %>
</div>
