<%= form_with(model: reservation, local: true) do |form| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= hidden_field :reservation, :space_id, :value => @space_id %>
  <%= select_tag(:license_plate, options_for_select(@plates)) %> 
  <%= react_component("Calendar" ) %>
  <%= number_field(:reservation, :duration) %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
