<%= form_with(model: reservation, local: true, html: {:class=>"ui form"}) do |form| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= hidden_field :reservation, :space_id, :value => @space_id %>
  <h4 class="ui dividing header">Reserve a Space</h4>
  <div>
    Hourly Rate: $<%= cents_to_dollars(@space.hourly_rate) %>
  </div>
  <div class="field">
    <label>Select License Plate</label>
    <%= select_tag(:license_plate, options_for_select(@plates), {:class =>"ui input"}) %> 
  </div>
  <div class="field">
    <label>Choose Date</label>
    <%= react_component("Calendar" ) %>
  </div>
  <div class="field">
    <label>Enter Duration</label>
    <%= number_field(:reservation, :duration, {:class =>"ui input"}) %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
