<%= form_with(model: reservation, local: true) do |form| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key=<%= ENV["STRIPE_API_PUBLIC_KEY"] %>
      data-amount="999"
      data-name="Demo Site"
      data-description="Widget"
      data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
      data-locale="auto"
      data-zip-code="true"
      data-label="Reserve a Space"
    ></script>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
