<%= form_with(model: reservation, local: true, html: {:class=>"ui form"}) do |form| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field :reservation, :space_id, :value => @space_id %>
  <h4 class="ui dividing header">Reserve a Space</h4>
  <div class="required field">
    Hourly Rate: $<%= cents_to_dollars(@space.hourly_rate) %>
  </div>
  <div class="required field">
    <label>Select License Plate</label>
    <%= select_tag(:license_plate, options_for_select(@plates), {:class =>"ui input"}) %> 
  </div>

  <div class="required field">
    <label>Choose Date</label>
    <%= react_component("Calendar" ) %>
  </div>

  <%= react_component("Reservation", props: { hourly_rate: @space.hourly_rate}) %>

<script id="stripebutton" data-key=<%= ENV["STRIPE_API_PUBLIC_KEY"] %> src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-description="Peer Park" data-locale="auto"></script> 

<% end %>
