<form class=" ui form">
	<p id="notice"><%= notice %></p>

	<h1>Space Reserved</h1>

	<% if @reservation.space.parking_spot_image.attached?  %>
		<%= image_tag @reservation.space.parking_spot_image, height: 250 %>
	<% else %>
		<%= image_tag 'missing.png', height: "15%" %>
	<% end %>

	<div class="reserve">
		<h3 class="ui header">
			<%= @reservation.space.address %><br />
			<%= @reservation.space.city %>, <%= @reservation.space.state %> <%= @reservation.space.zip %>
		</h3>
		<div class="reserve-label">
			<h3 class="ui header">Start Time: </h3>
			<%= @reservation.print_time %>
		</div>
		<div class="reserve-label">
			<label class="ui header reserve-label">Rate:</label>
			<%= format_currency @reservation.space.hourly_rate %>
		</div>

		<div class="reserve-label">
			<label class="ui header">Duration:</label>
			<%= @reservation.duration %> hours
		</div>
		<div class="reserve-label">
			<label class="ui header">Vehicle: </label>
			<%= @reservation.vehicle.license_plate %>
		</div>
		<div class="reserve-label">
			<label class="ui header">Amount: </label>
			<%= format_currency (@reservation.space.hourly_rate * @reservation.duration) %>
		</div>

		<%= link_to 'Account History', reservations_path, class: "ui button" %>
	</div>	

</form>