<form class="reserve ui form">
<p id="notice"><%= notice %></p>


<h1>Space Reserved</h1>
<p>
<h4>Space</h4>
<%= @reservation.space.address %>
</p>
<p>
<h4>Rate</h4>
<%= cents_to_dollars(@reservation.space.hourly_rate) %>
</p>
<p><h4>Start Time</h4>
<%= @reservation.start_time %>
</p>
<p>
  <h4>Duration</h4>
  <%= @reservation.duration %>
</p>
<p><h4>Vehicle:</h4>
<%= @reservation.vehicle.license_plate %>
</p>
<p><h4>Amount</h4>
<%= cents_to_dollars(@reservation.space.hourly_rate * @reservation.duration) %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
</form>