<p id="notice"><%= notice %></p>
<h1>My Vehicle</h1>
<div class="showmethemoney">

	<div>
		<label class="ui header">Make:</label>
		<%= @vehicle.make %>
	</div>

<div>
		<label class="ui header">Model:</label>
	<%= @vehicle.model %>
</div>

<div>
		<label class="ui header">Color:</label>
		<%= @vehicle.color %>
</div>
<div>
		<label class="ui header">License plate:</label>
		<%= @vehicle.license_plate %>
</div>
	<div class="vehicle-buttons">
		<%= link_to 'Edit', edit_vehicle_path(@vehicle), class: "ui button" %> 
		<%= link_to 'Back', vehicles_path, class: "ui button" %>
		</div>
	</div>