<p id="notice"><%= notice %></p>
<h1>My Vehicle</h1>
<div class="showmethemoney">

	<p>
		<h5>Make:</h5>
		<%= @vehicle.make %>
	</p>

	<p>
		<h5>Model:</h5>
		<p><%= @vehicle.model %></p>
	</p>

	<p>
		<h5>Color:</h5>
		<%= @vehicle.color %>
	</p>

	<p>
		<h5>License plate:</h5>
		<%= @vehicle.license_plate %>
	</p>

		<%= link_to 'Edit', edit_vehicle_path(@vehicle), class: "ui button" %> 
		<%= link_to 'Back', vehicles_path, class: "ui button" %>
	</div>