<!DOCTYPE html>
<html>
  <head>
    <title>Peer Park</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
    <%= javascript_pack_tag 'app-bundle' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

	<body>
		<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <header class="navbar">
      <div class="navbar-class">
        <div class="containter">

        <% if current_user %>
        <div class="ui compact menu">
          <div class="ui simple dropdown item">
            <i class="bars icon"></i>
            <div class="menu">
              <%= link_to('Profile', edit_user_registration_path, class: "item") %>
              <div class="item">Account History</div>
              <div class="item">Find Space</div>
              <%= link_to('List Space', new_space_path, class: "item") %>
              <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "item") %>
            <% end %>
              </div>
          </div>
        </div>
      </div>
    </header>
  <%= yield %>
  </body>
</html>
